<!DOCTYPE html>
<html>
<head lang="en">
  <title>Make My Challenge</title>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="google-signin-client_id" content="207058087446-bcseole1r7tppc8hl72pbs944da4ecm0.apps.googleusercontent.com"/>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>

  <!-- Scripts -->
  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>


<body data-spy="scroll" data-target=".navbar">

  <!-- Navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/"><img class="img-rounded pull-left" src="{{ url_for('static', filename='images/logo4.png') }}" alt="logo"/></a>
        <a class="navbar-brand" href="/#index">Make My Challenge</a>
      </div>
      <div class="collapse navbar-collapse navbar-right" id="navbar">
        <ul class="nav navbar-nav">
          <li><a href="#index">Home</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/#faq">FAQ</a></li>
          <li><a href="signin">Sign In</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="notFoundPage" class="container-fluid bodyContainer">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      Not in database
    </div>
    <div class="col-sm-4"></div>
  </div>
</body>
</html>